{"openapi":"3.1.0","info":{"title":"Mercury reviewed operation index","version":"1.0.0","description":"Exact operation identity index for the read-only Nex adapter. Provider payload schemas are deliberately excluded."},"servers":[{"url":"https://api.mercury.com/api/v1"}],"security":[{"bearerAuth":[]}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}}},"paths":{"/cards/{cardId}/cancel":{"post":{"operationId":"cancelCard","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /cards/{cardId}/cancel","x-mercury-visibility":"public"}},"/ar/invoices/{invoiceId}/cancel":{"post":{"operationId":"cancelInvoice","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /ar/invoices/{invoiceId}/cancel","x-mercury-visibility":"public"}},"/cards":{"post":{"operationId":"createCard","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /cards","x-mercury-visibility":"public"},"get":{"operationId":"listCards","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /cards","x-mercury-visibility":"public"}},"/categories":{"post":{"operationId":"createCategory","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /categories","x-mercury-visibility":"public"},"get":{"operationId":"listCategories","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /categories","x-mercury-visibility":"public"}},"/ar/customers":{"post":{"operationId":"createCustomer","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /ar/customers","x-mercury-visibility":"public"},"get":{"operationId":"listCustomers","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /ar/customers","x-mercury-visibility":"public"}},"/transfer":{"post":{"operationId":"createInternalTransfer","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /transfer","x-mercury-visibility":"public"}},"/ar/invoices":{"post":{"operationId":"createInvoice","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /ar/invoices","x-mercury-visibility":"public"},"get":{"operationId":"listInvoices","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /ar/invoices","x-mercury-visibility":"public"}},"/recipients":{"post":{"operationId":"createRecipient","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /recipients","x-mercury-visibility":"public"},"get":{"operationId":"getRecipients","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /recipients","x-mercury-visibility":"public"}},"/recipients/invites":{"post":{"operationId":"createRecipientInvite","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /recipients/invites","x-mercury-visibility":"public"},"get":{"operationId":"listRecipientInvites","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /recipients/invites","x-mercury-visibility":"public"}},"/account/{accountId}/transactions":{"post":{"operationId":"createTransaction","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /account/{accountId}/transactions","x-mercury-visibility":"public"},"get":{"operationId":"listAccountTransactions","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /account/{accountId}/transactions","x-mercury-visibility":"public"}},"/webhooks":{"post":{"operationId":"createWebhook","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /webhooks","x-mercury-visibility":"public"},"get":{"operationId":"getWebhooks","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /webhooks","x-mercury-visibility":"public"}},"/books/agent-coa-template/{coaTemplateId}":{"delete":{"operationId":"deleteBooksAgentCoaTemplate","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"DELETE /books/agent-coa-template/{coaTemplateId}","x-mercury-visibility":"internal"},"get":{"operationId":"getBooksAgentCoaTemplate","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /books/agent-coa-template/{coaTemplateId}","x-mercury-visibility":"internal"}},"/books/agent-ledger-template/{ledgerId}":{"delete":{"operationId":"deleteBooksAgentLedgerTemplate","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"DELETE /books/agent-ledger-template/{ledgerId}","x-mercury-visibility":"internal"},"put":{"operationId":"putBooksAgentLedgerTemplate","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"PUT /books/agent-ledger-template/{ledgerId}","x-mercury-visibility":"internal"}},"/books/journal-entries/{booksId}":{"delete":{"operationId":"deleteBooksJournalEntries","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"DELETE /books/journal-entries/{booksId}","x-mercury-visibility":"internal"},"get":{"operationId":"getBooksJournalEntries","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /books/journal-entries/{booksId}","x-mercury-visibility":"internal"},"post":{"operationId":"postBooksJournalEntries","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /books/journal-entries/{booksId}","x-mercury-visibility":"internal"},"put":{"operationId":"putBooksJournalEntries","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"PUT /books/journal-entries/{booksId}","x-mercury-visibility":"internal"}},"/categories/{expenseCategoryId}":{"delete":{"operationId":"deleteCategory","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"DELETE /categories/{expenseCategoryId}","x-mercury-visibility":"public"},"post":{"operationId":"editCategory","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /categories/{expenseCategoryId}","x-mercury-visibility":"public"}},"/ar/customers/{customerId}":{"delete":{"operationId":"deleteCustomer","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"DELETE /ar/customers/{customerId}","x-mercury-visibility":"public"},"get":{"operationId":"getCustomer","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /ar/customers/{customerId}","x-mercury-visibility":"public"},"post":{"operationId":"updateCustomer","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /ar/customers/{customerId}","x-mercury-visibility":"public"}},"/recipient/{recipientId}":{"delete":{"operationId":"deleteRecipient","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"DELETE /recipient/{recipientId}","x-mercury-visibility":"public"},"get":{"operationId":"getRecipient","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /recipient/{recipientId}","x-mercury-visibility":"public"},"post":{"operationId":"updateRecipient","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /recipient/{recipientId}","x-mercury-visibility":"public"}},"/recipients/invites/{inviteId}":{"delete":{"operationId":"deleteRecipientInvite","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"DELETE /recipients/invites/{inviteId}","x-mercury-visibility":"public"},"get":{"operationId":"getRecipientInvite","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /recipients/invites/{inviteId}","x-mercury-visibility":"public"}},"/webhooks/{webhookEndpointId}":{"delete":{"operationId":"deleteWebhook","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"DELETE /webhooks/{webhookEndpointId}","x-mercury-visibility":"public"},"get":{"operationId":"getWebhook","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /webhooks/{webhookEndpointId}","x-mercury-visibility":"public"},"post":{"operationId":"updateWebhook","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /webhooks/{webhookEndpointId}","x-mercury-visibility":"public"}},"/cards/{cardId}/freeze":{"post":{"operationId":"freezeCard","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /cards/{cardId}/freeze","x-mercury-visibility":"public"}},"/account/{accountId}":{"get":{"operationId":"getAccount","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /account/{accountId}","x-mercury-visibility":"public"}},"/account/{accountId}/cards":{"get":{"operationId":"getAccountCards","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /account/{accountId}/cards","x-mercury-visibility":"public"}},"/account/{accountId}/statements":{"get":{"operationId":"getAccountStatements","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /account/{accountId}/statements","x-mercury-visibility":"public"}},"/accounts":{"get":{"operationId":"getAccounts","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /accounts","x-mercury-visibility":"public"}},"/ar/attachments/{attachmentId}":{"get":{"operationId":"getAttachment","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /ar/attachments/{attachmentId}","x-mercury-visibility":"public"}},"/books/agent-coa-templates":{"get":{"operationId":"getBooksAgentCoaTemplates","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /books/agent-coa-templates","x-mercury-visibility":"internal"},"post":{"operationId":"postBooksAgentCoaTemplates","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /books/agent-coa-templates","x-mercury-visibility":"internal"}},"/books/journal-entry/{booksId}/{journalEntryId}":{"get":{"operationId":"getBooksJournalEntry","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /books/journal-entry/{booksId}/{journalEntryId}","x-mercury-visibility":"internal"}},"/cards/{cardId}":{"get":{"operationId":"getCard","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /cards/{cardId}","x-mercury-visibility":"public"},"post":{"operationId":"updateCard","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /cards/{cardId}","x-mercury-visibility":"public"}},"/events/{eventId}":{"get":{"operationId":"getEvent","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /events/{eventId}","x-mercury-visibility":"public"}},"/events":{"get":{"operationId":"getEvents","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /events","x-mercury-visibility":"public"}},"/ar/invoices/{invoiceId}":{"get":{"operationId":"getInvoice","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /ar/invoices/{invoiceId}","x-mercury-visibility":"public"},"post":{"operationId":"updateInvoice","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /ar/invoices/{invoiceId}","x-mercury-visibility":"public"}},"/ar/invoices/{invoiceId}/pdf":{"get":{"operationId":"getInvoicePdf","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /ar/invoices/{invoiceId}/pdf","x-mercury-visibility":"public"}},"/organization":{"get":{"operationId":"getOrganization","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /organization","x-mercury-visibility":"public"}},"/safes/{safeRequestId}":{"get":{"operationId":"getSafeRequest","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /safes/{safeRequestId}","x-mercury-visibility":"public"}},"/safes/{safeRequestId}/document":{"get":{"operationId":"getSafeRequestDocument","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /safes/{safeRequestId}/document","x-mercury-visibility":"public"}},"/safes":{"get":{"operationId":"getSafeRequests","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /safes","x-mercury-visibility":"public"}},"/request-send-money/{requestId}":{"get":{"operationId":"getSendMoneyApprovalRequest","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /request-send-money/{requestId}","x-mercury-visibility":"public"}},"/statements/{statementId}/pdf":{"get":{"operationId":"getStatementPdf","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /statements/{statementId}/pdf","x-mercury-visibility":"public"}},"/account/{accountId}/transaction/{transactionId}":{"get":{"operationId":"getTransaction","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /account/{accountId}/transaction/{transactionId}","x-mercury-visibility":"public"}},"/transaction/{transactionId}":{"get":{"operationId":"getTransactionById","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /transaction/{transactionId}","x-mercury-visibility":"public"},"patch":{"operationId":"updateTransaction","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"PATCH /transaction/{transactionId}","x-mercury-visibility":"public"}},"/treasury":{"get":{"operationId":"getTreasury","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /treasury","x-mercury-visibility":"public"}},"/treasury/{treasuryId}/statements":{"get":{"operationId":"getTreasuryStatements","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /treasury/{treasuryId}/statements","x-mercury-visibility":"public"}},"/treasury/{treasuryId}/transactions":{"get":{"operationId":"getTreasuryTransactions","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /treasury/{treasuryId}/transactions","x-mercury-visibility":"public"}},"/users/{userId}":{"get":{"operationId":"getUser","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /users/{userId}","x-mercury-visibility":"public"}},"/users":{"get":{"operationId":"getUsers","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /users","x-mercury-visibility":"public"}},"/credit":{"get":{"operationId":"listCredit","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /credit","x-mercury-visibility":"public"}},"/ar/invoices/{invoiceId}/attachments":{"get":{"operationId":"listInvoiceAttachments","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /ar/invoices/{invoiceId}/attachments","x-mercury-visibility":"public"}},"/merchants":{"get":{"operationId":"listMerchants","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /merchants","x-mercury-visibility":"public"}},"/recipients/attachments":{"get":{"operationId":"listRecipientsAttachments","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /recipients/attachments","x-mercury-visibility":"public"}},"/request-send-money":{"get":{"operationId":"listSendMoneyApprovalRequests","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /request-send-money","x-mercury-visibility":"public"}},"/transactions":{"get":{"operationId":"listTransactions","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /transactions","x-mercury-visibility":"public"}},"/books/agent-ledger-templates":{"post":{"operationId":"postBooksAgentLedgerTemplates","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /books/agent-ledger-templates","x-mercury-visibility":"internal"}},"/account/{accountId}/request-send-money":{"post":{"operationId":"requestSendMoney","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /account/{accountId}/request-send-money","x-mercury-visibility":"public"}},"/cards/{cardId}/reveal":{"get":{"operationId":"revealCardPan","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /cards/{cardId}/reveal","x-mercury-visibility":"public"}},"/submit-onboarding-data":{"post":{"operationId":"submitOnboardingData","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /submit-onboarding-data","x-mercury-visibility":"public"}},"/cards/{cardId}/unfreeze":{"post":{"operationId":"unfreezeCard","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /cards/{cardId}/unfreeze","x-mercury-visibility":"public"}},"/recipient/{recipientId}/attachments":{"post":{"operationId":"uploadRecipientAttachment","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /recipient/{recipientId}/attachments","x-mercury-visibility":"public"}},"/transaction/{transactionId}/attachments":{"post":{"operationId":"uploadTransactionAttachment","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /transaction/{transactionId}/attachments","x-mercury-visibility":"public"}},"/webhooks/{webhookEndpointId}/verify":{"post":{"operationId":"verifyWebhook","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /webhooks/{webhookEndpointId}/verify","x-mercury-visibility":"public"}}}}
