{"openapi":"3.1.0","info":{"title":"Mercury reviewed operation index","version":"1.0.0","description":"Exact public runtime method index for the read-only Nex adapter. Internal provider operations and provider payload schemas are deliberately excluded."},"servers":[{"url":"https://api.mercury.com/api/v1"}],"security":[{"bearerAuth":[]}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}}},"paths":{"/cards/{cardId}/cancel":{"post":{"operationId":"mercury.api.cancelCard","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /cards/{cardId}/cancel","x-mercury-provider-operation-id":"cancelCard"}},"/ar/invoices/{invoiceId}/cancel":{"post":{"operationId":"mercury.api.cancelInvoice","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /ar/invoices/{invoiceId}/cancel","x-mercury-provider-operation-id":"cancelInvoice"}},"/cards":{"post":{"operationId":"mercury.api.createCard","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /cards","x-mercury-provider-operation-id":"createCard"},"get":{"operationId":"mercury.api.listCards","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /cards","x-mercury-provider-operation-id":"listCards"}},"/categories":{"post":{"operationId":"mercury.api.createCategory","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /categories","x-mercury-provider-operation-id":"createCategory"},"get":{"operationId":"mercury.api.listCategories","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /categories","x-mercury-provider-operation-id":"listCategories"}},"/ar/customers":{"post":{"operationId":"mercury.api.createCustomer","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /ar/customers","x-mercury-provider-operation-id":"createCustomer"},"get":{"operationId":"mercury.api.listCustomers","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /ar/customers","x-mercury-provider-operation-id":"listCustomers"}},"/transfer":{"post":{"operationId":"mercury.api.createInternalTransfer","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /transfer","x-mercury-provider-operation-id":"createInternalTransfer"}},"/ar/invoices":{"post":{"operationId":"mercury.api.createInvoice","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /ar/invoices","x-mercury-provider-operation-id":"createInvoice"},"get":{"operationId":"mercury.api.listInvoices","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /ar/invoices","x-mercury-provider-operation-id":"listInvoices"}},"/recipients":{"post":{"operationId":"mercury.api.createRecipient","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /recipients","x-mercury-provider-operation-id":"createRecipient"},"get":{"operationId":"mercury.api.getRecipients","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /recipients","x-mercury-provider-operation-id":"getRecipients"}},"/recipients/invites":{"post":{"operationId":"mercury.api.createRecipientInvite","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /recipients/invites","x-mercury-provider-operation-id":"createRecipientInvite"},"get":{"operationId":"mercury.api.listRecipientInvites","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /recipients/invites","x-mercury-provider-operation-id":"listRecipientInvites"}},"/account/{accountId}/transactions":{"post":{"operationId":"mercury.api.createTransaction","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /account/{accountId}/transactions","x-mercury-provider-operation-id":"createTransaction"},"get":{"operationId":"mercury.api.listAccountTransactions","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /account/{accountId}/transactions","x-mercury-provider-operation-id":"listAccountTransactions"}},"/webhooks":{"post":{"operationId":"mercury.api.createWebhook","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /webhooks","x-mercury-provider-operation-id":"createWebhook"},"get":{"operationId":"mercury.api.getWebhooks","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /webhooks","x-mercury-provider-operation-id":"getWebhooks"}},"/categories/{expenseCategoryId}":{"delete":{"operationId":"mercury.api.deleteCategory","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"DELETE /categories/{expenseCategoryId}","x-mercury-provider-operation-id":"deleteCategory"},"post":{"operationId":"mercury.api.editCategory","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /categories/{expenseCategoryId}","x-mercury-provider-operation-id":"editCategory"}},"/ar/customers/{customerId}":{"delete":{"operationId":"mercury.api.deleteCustomer","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"DELETE /ar/customers/{customerId}","x-mercury-provider-operation-id":"deleteCustomer"},"get":{"operationId":"mercury.api.getCustomer","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /ar/customers/{customerId}","x-mercury-provider-operation-id":"getCustomer"},"post":{"operationId":"mercury.api.updateCustomer","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /ar/customers/{customerId}","x-mercury-provider-operation-id":"updateCustomer"}},"/recipient/{recipientId}":{"delete":{"operationId":"mercury.api.deleteRecipient","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"DELETE /recipient/{recipientId}","x-mercury-provider-operation-id":"deleteRecipient"},"get":{"operationId":"mercury.api.getRecipient","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /recipient/{recipientId}","x-mercury-provider-operation-id":"getRecipient"},"post":{"operationId":"mercury.api.updateRecipient","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /recipient/{recipientId}","x-mercury-provider-operation-id":"updateRecipient"}},"/recipients/invites/{inviteId}":{"delete":{"operationId":"mercury.api.deleteRecipientInvite","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"DELETE /recipients/invites/{inviteId}","x-mercury-provider-operation-id":"deleteRecipientInvite"},"get":{"operationId":"mercury.api.getRecipientInvite","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /recipients/invites/{inviteId}","x-mercury-provider-operation-id":"getRecipientInvite"}},"/webhooks/{webhookEndpointId}":{"delete":{"operationId":"mercury.api.deleteWebhook","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"DELETE /webhooks/{webhookEndpointId}","x-mercury-provider-operation-id":"deleteWebhook"},"get":{"operationId":"mercury.api.getWebhook","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /webhooks/{webhookEndpointId}","x-mercury-provider-operation-id":"getWebhook"},"post":{"operationId":"mercury.api.updateWebhook","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /webhooks/{webhookEndpointId}","x-mercury-provider-operation-id":"updateWebhook"}},"/cards/{cardId}/freeze":{"post":{"operationId":"mercury.api.freezeCard","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /cards/{cardId}/freeze","x-mercury-provider-operation-id":"freezeCard"}},"/account/{accountId}":{"get":{"operationId":"mercury.api.getAccount","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /account/{accountId}","x-mercury-provider-operation-id":"getAccount"}},"/account/{accountId}/cards":{"get":{"operationId":"mercury.api.getAccountCards","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /account/{accountId}/cards","x-mercury-provider-operation-id":"getAccountCards"}},"/account/{accountId}/statements":{"get":{"operationId":"mercury.api.getAccountStatements","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /account/{accountId}/statements","x-mercury-provider-operation-id":"getAccountStatements"}},"/accounts":{"get":{"operationId":"mercury.api.getAccounts","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /accounts","x-mercury-provider-operation-id":"getAccounts"}},"/ar/attachments/{attachmentId}":{"get":{"operationId":"mercury.api.getAttachment","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /ar/attachments/{attachmentId}","x-mercury-provider-operation-id":"getAttachment"}},"/cards/{cardId}":{"get":{"operationId":"mercury.api.getCard","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /cards/{cardId}","x-mercury-provider-operation-id":"getCard"},"post":{"operationId":"mercury.api.updateCard","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /cards/{cardId}","x-mercury-provider-operation-id":"updateCard"}},"/events/{eventId}":{"get":{"operationId":"mercury.api.getEvent","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /events/{eventId}","x-mercury-provider-operation-id":"getEvent"}},"/events":{"get":{"operationId":"mercury.api.getEvents","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /events","x-mercury-provider-operation-id":"getEvents"}},"/ar/invoices/{invoiceId}":{"get":{"operationId":"mercury.api.getInvoice","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /ar/invoices/{invoiceId}","x-mercury-provider-operation-id":"getInvoice"},"post":{"operationId":"mercury.api.updateInvoice","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /ar/invoices/{invoiceId}","x-mercury-provider-operation-id":"updateInvoice"}},"/ar/invoices/{invoiceId}/pdf":{"get":{"operationId":"mercury.api.getInvoicePdf","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /ar/invoices/{invoiceId}/pdf","x-mercury-provider-operation-id":"getInvoicePdf"}},"/organization":{"get":{"operationId":"mercury.api.getOrganization","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /organization","x-mercury-provider-operation-id":"getOrganization"}},"/safes/{safeRequestId}":{"get":{"operationId":"mercury.api.getSafeRequest","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /safes/{safeRequestId}","x-mercury-provider-operation-id":"getSafeRequest"}},"/safes/{safeRequestId}/document":{"get":{"operationId":"mercury.api.getSafeRequestDocument","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /safes/{safeRequestId}/document","x-mercury-provider-operation-id":"getSafeRequestDocument"}},"/safes":{"get":{"operationId":"mercury.api.getSafeRequests","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /safes","x-mercury-provider-operation-id":"getSafeRequests"}},"/request-send-money/{requestId}":{"get":{"operationId":"mercury.api.getSendMoneyApprovalRequest","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /request-send-money/{requestId}","x-mercury-provider-operation-id":"getSendMoneyApprovalRequest"}},"/statements/{statementId}/pdf":{"get":{"operationId":"mercury.api.getStatementPdf","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /statements/{statementId}/pdf","x-mercury-provider-operation-id":"getStatementPdf"}},"/account/{accountId}/transaction/{transactionId}":{"get":{"operationId":"mercury.api.getTransaction","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /account/{accountId}/transaction/{transactionId}","x-mercury-provider-operation-id":"getTransaction"}},"/transaction/{transactionId}":{"get":{"operationId":"mercury.api.getTransactionById","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /transaction/{transactionId}","x-mercury-provider-operation-id":"getTransactionById"},"patch":{"operationId":"mercury.api.updateTransaction","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"PATCH /transaction/{transactionId}","x-mercury-provider-operation-id":"updateTransaction"}},"/treasury":{"get":{"operationId":"mercury.api.getTreasury","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /treasury","x-mercury-provider-operation-id":"getTreasury"}},"/treasury/{treasuryId}/statements":{"get":{"operationId":"mercury.api.getTreasuryStatements","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /treasury/{treasuryId}/statements","x-mercury-provider-operation-id":"getTreasuryStatements"}},"/treasury/{treasuryId}/transactions":{"get":{"operationId":"mercury.api.getTreasuryTransactions","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /treasury/{treasuryId}/transactions","x-mercury-provider-operation-id":"getTreasuryTransactions"}},"/users/{userId}":{"get":{"operationId":"mercury.api.getUser","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /users/{userId}","x-mercury-provider-operation-id":"getUser"}},"/users":{"get":{"operationId":"mercury.api.getUsers","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /users","x-mercury-provider-operation-id":"getUsers"}},"/credit":{"get":{"operationId":"mercury.api.listCredit","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /credit","x-mercury-provider-operation-id":"listCredit"}},"/ar/invoices/{invoiceId}/attachments":{"get":{"operationId":"mercury.api.listInvoiceAttachments","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /ar/invoices/{invoiceId}/attachments","x-mercury-provider-operation-id":"listInvoiceAttachments"}},"/merchants":{"get":{"operationId":"mercury.api.listMerchants","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /merchants","x-mercury-provider-operation-id":"listMerchants"}},"/recipients/attachments":{"get":{"operationId":"mercury.api.listRecipientsAttachments","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /recipients/attachments","x-mercury-provider-operation-id":"listRecipientsAttachments"}},"/request-send-money":{"get":{"operationId":"mercury.api.listSendMoneyApprovalRequests","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /request-send-money","x-mercury-provider-operation-id":"listSendMoneyApprovalRequests"}},"/transactions":{"get":{"operationId":"mercury.api.listTransactions","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /transactions","x-mercury-provider-operation-id":"listTransactions"}},"/account/{accountId}/request-send-money":{"post":{"operationId":"mercury.api.requestSendMoney","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /account/{accountId}/request-send-money","x-mercury-provider-operation-id":"requestSendMoney"}},"/cards/{cardId}/reveal":{"get":{"operationId":"mercury.api.revealCardPan","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"GET /cards/{cardId}/reveal","x-mercury-provider-operation-id":"revealCardPan"}},"/submit-onboarding-data":{"post":{"operationId":"mercury.api.submitOnboardingData","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /submit-onboarding-data","x-mercury-provider-operation-id":"submitOnboardingData"}},"/cards/{cardId}/unfreeze":{"post":{"operationId":"mercury.api.unfreezeCard","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /cards/{cardId}/unfreeze","x-mercury-provider-operation-id":"unfreezeCard"}},"/recipient/{recipientId}/attachments":{"post":{"operationId":"mercury.api.uploadRecipientAttachment","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /recipient/{recipientId}/attachments","x-mercury-provider-operation-id":"uploadRecipientAttachment"}},"/transaction/{transactionId}/attachments":{"post":{"operationId":"mercury.api.uploadTransactionAttachment","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /transaction/{transactionId}/attachments","x-mercury-provider-operation-id":"uploadTransactionAttachment"}},"/webhooks/{webhookEndpointId}/verify":{"post":{"operationId":"mercury.api.verifyWebhook","responses":{"200":{"description":"Provider response bytes are retained as immutable evidence and interpreted by reviewed adapter code."}},"summary":"POST /webhooks/{webhookEndpointId}/verify","x-mercury-provider-operation-id":"verifyWebhook"}}}}
